.notes-screen {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .note {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-icon{
    margin: 0 10px;
    font-size: 24px;
  }

  .ai-icon {
    margin: 0 10px;
    font-size: 24px;
  }
  
  .note-content {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
  }
  
  .user {
    justify-content: flex-start;
  }
  
  .ai {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  