.user-profile {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 20px;
    /* flex: 1; */
    width: 20%;
    margin-right: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 25px;
  }
  
  .profile-icon {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ddd;
    margin-bottom: 2px;
    font-size: 36px;
  }
  
  .user-icon {
    background-color: #4a90e2; /* User icon background color */
    color: white;
  }
  
  .ai-icon {
    background-color: #f5a623; /* AI icon background color */
    color: white;
  }
  