.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 10px; /* Add gap to flex container for spacing */
}
